$imgsize: 50px

.digits
  text-align: right
  
.allcampers__heading
  /*  */
  th 
    @extend %regular-font

  th + th 
    padding-left: .5em

.allcampers__body
  /*  */

  td + td
    margin-left: .5em

.camper__info
  /*  */
  .camper__img
    @extend %regular-font

    img
      width: $imgsize
      height: $imgsize
      border-radius: $imgsize
  
  .camper__username, 
    @extend %header-font

    &:hover
      @extend %header-font

  .camper__more
    @extend %regular-font
    display: block
    font-size: 14px

    &:hover
      @extend %regular-font
      font-size: 14px

  & > div
    display: inline-block
    clear:none
    vertical-align: middle

img
  width: $imgsize
  height: $imgsize
  border-radius: $imgsize